<!DOCTYPE html>
<html>
<head>
    <title>College Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<!-- 🔙 BACK BUTTON -->
<div class="back-btn" onclick="goBack()">
    ⬅
</div>
<!-- 🔷 SIDEBAR -->
<div class="sidebar">

    <h2 class="logo">MCA ERP</h2>

    <a href="/home"> Home</a>

    <!-- 👨‍🎓 STUDENT VIEW -->
    {% if role and role|lower == "student" %}

        <a href="/attendance"> Attendance</a>

        <div class="menu-item" onclick="toggleMenu('semMenu')">
            Semester ▾
        </div>

        <div id="semMenu" class="submenu">
            <a href="/semester/1">Sem 1</a>
            <a href="/semester/2">Sem 2</a>
            <a href="/semester/3">Sem 3</a>
        </div>

        <a href="/logout">Logout</a>

    {% endif %}


    <!-- 👨‍🏫 STAFF VIEW -->
    {% if role and role|lower == "staff" %}

        <!-- Students -->
        <div class="menu-item" onclick="toggleMenu('studentMenu')">
             Students ▾
        </div>

        <div id="studentMenu" class="submenu">
            <a href="/first_year">First Year</a>
            <a href="/second_year">Second Year</a>
        </div>

        <!-- Staff -->
        <a href="/staff">Staff</a>

        <!-- Attendance -->
        <a href="/attendance">Attendance</a>

        <!-- Semester -->
        <div class="menu-item" onclick="toggleMenu('semMenu')">
             Semester ▾
        </div>

        <div id="semMenu" class="submenu">
            <a href="/semester/1">Sem 1</a>
            <a href="/semester/2">Sem 2</a>
            <a href="/semester/3">Sem 3</a>
        </div>

        <a href="/logout">Logout</a>

    {% endif %}

</div>


<!-- 🔽 TOGGLE SCRIPT -->
<script>
function toggleMenu(id){

    document.querySelectorAll(".submenu").forEach(menu => {
        if(menu.id !== id){
            menu.style.display = "none";
        }
    });

    let menu = document.getElementById(id);
    menu.style.display = (menu.style.display === "block") ? "none" : "block";
}
function goBack(){
    window.history.back();
}

</script>


<!-- 🔻 PAGE CONTENT -->
<div class="main-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>